<mat-card class="cat-card">
    <div class="cat-header-wrapper">
        <mat-card-header class="cat-header">
            <mat-card-title>{{newCat.name}}</mat-card-title>
            <mat-card-subtitle>Cat Breed</mat-card-subtitle>
        </mat-card-header>
    </div>
    <mat-card-content class="cat-info-wrapper">
        <p><span>Description:</span><br>{{newCat.description}}</p>
        <p><span>Temperament:</span> {{capitalizeWords(newCat.temperament)}}</p>
        <p><span>Origin:</span> {{newCat.origin}}</p>
        <p><span>Average life span:</span> {{newCat.lifeSpan}} years</p>
        <p><span>Weight:</span> {{newCat.weight}} kgs</p>
        <button mat-raised-button class="go-back-btn" [routerLink]="['/my-cats']">Go Back</button>
    </mat-card-content>
</mat-card>