<h3 *ngIf="favouriteCats.length === 0">There are no cats in your favourites list</h3>
<table class="table" *ngIf="favouriteCats.length > 0">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Breed</th>
        <th scope="col">Origin</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row" [routerLink]="['/cat', favCat.id]" *ngFor="let favCat of favouriteCats">
        <th scope="row">1</th>
        <td>{{favCat.id}}</td>
        <td>{{favCat.name}}</td>
        <td>{{favCat.origin}}</td>
        <td><button type="button" class="btn btn-outline-danger" (click)="deleteFavouriteCatFromLS($event)">Delete</button></td>
      </tr>
    </tbody>
  </table>