<h3>There are no cats in your favourites list</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Breed</th>
        <th scope="col">Origin</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row" [routerLink]="['/cat']">
        <th scope="row">1</th>
        <td>abys</td>
        <td>Abyssinian</td>
        <td>Egypt</td>
        <td><button type="button" class="btn btn-outline-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>