<div *ngIf="favCatsData$ | async as favCatsData">
  <h3 *ngIf="favouriteCats.length === 0">There are no cats in your favourites list</h3>
  <div *ngIf="favouriteCats.length > 0">
    <div class="button-container">
      <button mat-raised-button class="remove-all-button" (click)="openDeleteAllCatsDialog()">
        Remove All
      </button>
    </div>

    <table mat-table [dataSource]="favCatsData" class="mat-elevation-z8 table">
      <tbody>
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element; index as i">{{i + 1}}</td>
        </ng-container>

        <!-- Breed Column -->
        <ng-container matColumnDef="breed">
          <th mat-header-cell *matHeaderCellDef>Breed</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <!-- Origin Column -->
        <ng-container matColumnDef="origin">
          <th mat-header-cell *matHeaderCellDef>Origin</th>
          <td mat-cell *matCellDef="let element">{{element.origin}}</td>
        </ng-container>

        <!-- Delete Button Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button 
              mat-icon-button 
              title="Delete Item"
              class="action-buttons"
              (click)="openDeleteCatDialog($event, element.id)"
            >
              <mat-icon class="delete-ico">delete_outline</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- More Info Button Column -->
        <ng-container matColumnDef="info">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button 
              mat-icon-button
              class="action-buttons"
              title="See Details"
              [routerLink]="['/cat', element.id]"
            >
              <mat-icon class="info-ico">info_outline</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </tbody>
    </table>
  </div>
</div>