.search-bar, .custom-page-size-selection {
    display: flex;
    justify-content: center;
}

.search-bar {
    input {
        margin: 20px 0;
        padding: 5px;
        width: 320px;
    }
}

.custom-page-size-selection {
    label {
       margin-right: 10px;
    }
}

@media screen and (max-width: 360px) {
    .search-bar {
        input {
            width: 270px;
        }
    }
}

.cats_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.custom-pagination ::ng-deep .ngx-pagination .current {
    background: #4cb5bd;
}