<div>
    <div class="search-bar">
        <mat-form-field class="search-form-field" appearance="fill">
            <mat-label>Search cats by breed's name...</mat-label>
            <input 
                type="search"
                matInput 
                type="text" 
                [(ngModel)]="filteredCatsNames" 
                (input)="handleInputChange()"
            >
            <button 
                *ngIf="filteredCatsNames" 
                matSuffix 
                mat-icon-button 
                aria-label="Clear" 
                (click)="filteredCatsNames=''; getCatsList()"
                class="clear-btn"
            >
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <h3 class="loader" *ngIf="cats.length === 0">No results found!</h3>
    <div class="pagination-wrapper">
        <pagination-controls
            id="listing-pagination"
            (pageChange)="onPageChanged($event)"
            previousLabel="Previous"
            nextLabel="Next"
            [responsive]="true"
            class="custom-pagination"
            *ngIf="cats.length !== 0"
        ></pagination-controls>
    </div>
    <div class="custom-page-size-selection" *ngIf="cats.length !== 0">
        <label>Items per Page:</label>
        <select (change)="onPageSizeChange($event)">
            <option 
                *ngFor="let pageSize of itemsPerPageSizes" 
                [ngValue]="pageSize" 
                [selected]="pageSize === itemsPerPage"
            >
                {{pageSize}}
            </option>
        </select>
    </div>
    <table 
        mat-table 
        [dataSource]="cats | paginate: { id: 'listing-pagination',
                        itemsPerPage: itemsPerPage,
                        currentPage: currentPage,
                        totalItems: totalItems }" 
        class="mat-elevation-z8 table"
        *ngIf="cats.length > 0"
    >
        <tbody>
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element; index as i">{{i + (currentPage * itemsPerPage) - itemsPerPage + 1}}</td>
          </ng-container>
  
          <!-- Breed Column -->
          <ng-container matColumnDef="breed">
            <th mat-header-cell *matHeaderCellDef>Breed</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
          </ng-container>
  
          <!-- Origin Column -->
          <ng-container matColumnDef="origin">
            <th mat-header-cell *matHeaderCellDef>Origin</th>
            <td mat-cell *matCellDef="let element">{{element.origin}}</td>
          </ng-container>

           <!-- Favs Button Column -->
           <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <app-add-fav-button
                (onAddToFavourites)="addToFavourites(element)"
                (onRemoveFromFavourites)="removeFromFavourites(element.id)"
                [cat]="element"
              ></app-add-fav-button>
            </td>
          </ng-container>
  
          <!-- More Info Button Column -->
          <ng-container matColumnDef="info">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button 
                mat-icon-button
                class="info-btn action-buttons"
                title="See Details"
                [routerLink]="['/cat', element.id]"
              >
                <mat-icon class="info-ico">info_outline</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </tbody>
      </table>
</div>