.search-bar, .custom-page-size-selection {
    display: flex;
    justify-content: center;
}

.search-bar {
    .search-form-field {
        margin-top: 25px;
        width: 320px;
    }

    .clear-btn {
        border: none;
        background: none;
        cursor: pointer;
    }
}

.custom-page-size-selection {
    label {
       margin-right: 10px;
    }
}

@media screen and (max-width: 360px) {
    .search-bar {
        input {
            width: 270px;
        }
    }
}

.table {
    margin-top: 25px;
    min-width: 80vw;

    tr[mat-row]:hover {
        background: #ebebeb;
    }

    .action-buttons {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .info-ico {
        color: #1850e9;
    }
}

.pagination-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.custom-pagination ::ng-deep .ngx-pagination .current {
    background: #4cb5bd;
}