<div>
    <div class="search-bar">
        <input 
            type="search" 
            placeholder="Search cats by breed's name..."
            [(ngModel)]="filteredCatsNames"
            (input)="handleInputChange()"
        >
    </div>
    <h3 class="loader" *ngIf="cats.length === 0">No results found!</h3>
    <div class="pagination-wrapper">
        <pagination-controls
            id="listing-pagination"
            (pageChange)="onPageChanged($event)"
            previousLabel="Previous"
            nextLabel="Next"
            [responsive]="true"
            class="custom-pagination"
            *ngIf="cats.length !== 0"
        ></pagination-controls>
    </div>
    <div class="custom-page-size-selection" *ngIf="cats.length !== 0">
        <label>Items per Page:</label>
        <select (change)="onPageSizeChange($event)">
            <option 
                *ngFor="let pageSize of itemsPerPageSizes" 
                [ngValue]="pageSize" 
                [selected]="pageSize === itemsPerPage"
            >
                {{pageSize}}
            </option>
        </select>
    </div>
    <ul class="cats_list">
        <app-cat-tile
            [cat]="cat"
            *ngFor="let cat of cats 
                | paginate: { id: 'listing-pagination',
                    itemsPerPage: itemsPerPage,
                    currentPage: currentPage,
                    totalItems: totalItems }
                "
            (onAddToFavourites)="AddToFavourites(cat)"
        ></app-cat-tile>
    </ul>
</div>