.search-bar {
    display: flex;
    justify-content: center;

    input {
        margin: 20px 0;
        padding: 5px;
        width: 40%;
    }
}

@media screen and (max-width: 583px) {
    .search-bar {
        input {
            width: 70%;
        }
    }
}

.cats_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .cat-picture {
        margin-bottom: 10px;
        align-self: center;
        height: 100px;
        width: 150px;
        object-fit: contain;
    }

    .cat_item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
        padding: 20px 30px;
        height: 200px;
        width: 300px;
        border: 2px solid blueviolet;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        list-style-type: none;
        cursor: pointer;
        transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s, text-shadow 0.3s;
    
        p {
            text-transform: uppercase;
        }
    
        span {
            font-weight: bold;
            text-transform: initial;
        }

        &:hover {
            color: whitesmoke;
            text-shadow: 2px 2px 3px black;
            background-color: rgb(226, 152, 226);
            box-shadow: 4px 4px 10px black;
            transform: scale(0.95); 
        }

        .fav-btn {
            position: absolute;
            top: 5px;
            right: 5px;
            align-self: flex-end;
            margin: 5px;
            padding: 10px;
            text-transform: uppercase;
            font-size: 10px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            transition: color 0.3s, background-color 0.3s;

            &:hover {
                color: whitesmoke;
                background-color: grey;
            }
        }
    }
}

.pagination-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.custom-pagination ::ng-deep .ngx-pagination .current {
    background: #4cb5bd;
}