.navbar {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #4cb5bd;
    min-width: 100vw;
    padding: 15px 20px;
    z-index: 10;

    .nav-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;

        .cat-heading-wrapper {
            li {
                padding: 2.5px;
                list-style-type: none;
                cursor: pointer;
            }

            .cat-heading {
                text-align: center;
                text-transform: initial;
    
                span {
                    text-transform: uppercase;
                    font-style: italic;
                    color: blueviolet;
                };
            }

        }

        .link-items {
            display: flex;
            align-items: center;
            gap: 10px;

            li {
                padding-right: 10px;
                text-transform: uppercase;
                list-style-type: none;
    
                .nav-links {
                    padding: 5px;
                    color: white;
                    text-decoration: none;
    
                    &:hover {
                        text-decoration: underline;
                    }
                }

                .is-active {
                    text-decoration: underline;
                }
            }
        }
    }
}