<nav class="navbar">
    <ul class="nav-wrapper">
        <div class="cat-heading-wrapper">
            <li [routerLink]="['/cats']"><h1 class="cat-heading">cats<span>App</span></h1></li>
        </div>
        <div class="link-items">
            <li><a [routerLink]="['/cats']" routerLinkActive="is-active" class="nav-links">Home</a></li>
            <li><a [routerLink]="['/favourites']" routerLinkActive="is-active" class="nav-links">Favourites</a></li>
            <li><a [routerLink]="['/my-cats']" routerLinkActive="is-active" class="nav-links">My Cats</a></li>
        </div>
    </ul>
</nav>
