<div *ngIf="cat" class="details-container">
    <div class="cat-image-wrapper" class="cat-heading-wrapper">
        <h2>{{cat.name | uppercase}}</h2>
    </div>
    <div class="cat-info-wrapper">
        <p><span>ID:</span> {{cat.id}}</p>
        <p><span>Description:</span> <br> {{cat.description}}</p>
        <p><span>Temperament:</span> {{cat.temperament}}</p>
        <p><span>Origin:</span> {{cat.origin}}</p>
        <p><span>Average life span:</span> {{cat.life_span}}</p>
        <p><span>Weight:</span> {{cat.weight?.metric}} kgs</p>
        <p><a [href]="cat.wikipedia_url" class="wiki-link">WIKIPEDIA</a></p>
        <button class="go-back-btn" [routerLink]="['']">Go Back</button>
    </div>
</div>
