  <h1 mat-dialog-title>Add Cat</h1>
  <form 
    (ngSubmit)="onAddNewCat()"
    [formGroup]="newCatForm"
  >
  
    <p>
      <mat-form-field class="add-form-full-width" appearance="fill">
        <mat-label>Breed's name</mat-label>
          <input 
            matInput 
            required
            placeholder="Ex. Abyssinian"
            name="Name"
            formControlName="Name"
          />
        </mat-form-field>
    </p>
     

    <table class="add-form-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Origin</mat-label>
            <input 
              matInput 
              required
              placeholder="Ex. Egypt"
              name="Origin"
              formControlName="Origin"
            />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Temperament</mat-label>
            <input 
              matInput 
              required
              placeholder="Ex. playful, energetic..."
              name="Temperament"
              formControlName="Temperament"
            />
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="add-form-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Weight (kg)</mat-label>
            <input 
              type="number"
              matInput 
              required
              placeholder="Ex. 4 - 5"
              name="Weight"
              formControlName="Weight"
            />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Average life span</mat-label>
            <input
              matInput 
              required
              placeholder="Ex. 14 - 15"
              name="Life_span"
              formControlName="Life_span"
            />
          </mat-form-field>
        </td>
      </tr>
    </table>

    <p>
      <mat-form-field class="add-form-full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Ex. Abyssinian is easy to care for, and a joy to have..."
          required
          name="Description"
          formControlName="Description"
          #message
        ></textarea>
        <mat-hint align="end">{{message.value.length}} / 150</mat-hint>
      </mat-form-field>
    </p>

    <div mat-dialog-actions class="action-butttons">
      <button 
        mat-raised-button color="primary" 
        type="submit"
        [disabled]="!newCatForm.valid"
      >Save</button>
      <button mat-raised-button mat-dialog-close class="cancel-btn">
        Cancel
      </button>
    </div>
  </form>
