.action-butttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    gap: 10px;

    .delete-btn {
        background-color: #BD4C6A;
        color: #fafafa;
    }

    .cancel-btn {
        background-color: #adacac;
        color: #fafafa;
    }
}

@media screen and (max-width: 420px) {
    .action-butttons {
        margin-top: 20px;
    }
}

@media screen and (max-width: 420px) {
    .action-butttons {
        margin-top: 10px;
    }
}