<mat-card *ngIf="cat" class="cat-card">
    <div class="cat-header-wrapper">
        <mat-card-header class="cat-header">
            <mat-card-title>{{cat.name | uppercase}}</mat-card-title>
            <mat-card-subtitle>Cat Breed</mat-card-subtitle>
            <button mat-mini-fab class="fav-btn" (click)="toggleFavourites()">{{isInFavourites() ? addedFavButtonText :
                toAddfavButtonText}}</button>
        </mat-card-header>
        <img mat-card-image [src]="catImagePath" alt="Photo of a cat" class="selected-cat-picture">
    </div>
    <mat-card-content class="cat-info-wrapper">
        <p><span>Description:</span> <br> {{cat.description}}</p>
        <p><span>Temperament:</span> {{cat.temperament}}</p>
        <p><span>Origin:</span> {{cat.origin}}</p>
        <p><span>Average life span:</span> {{cat.life_span}} years</p>
        <p><span>Weight:</span> {{cat.weight?.metric}} kgs</p>
        <p><a [href]="cat.wikipedia_url" class="wiki-link">WIKIPEDIA</a></p>
        <button mat-raised-button class="go-back-btn" [routerLink]="['/cats']">Go Back</button>
    </mat-card-content>
</mat-card>