.new-cat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    
    .new-cat-heading-wrapper {
        display: flex;
        align-items: center;
        margin-top: 20px;
        padding: 20px 30px;
        border: 1px solid grey;
        max-width: 250px;
        height: 200px;
    }

    .cat-card {
        margin-top: 20px;
        max-width: 250px;
    }
    
    .cat-header {
       text-align: start;
       border-bottom: 1px solid #c7c6c6;
    }

    .cat-info-wrapper {
        margin-top: 15px;
        text-align: start;

        p {
            padding: 5px;
        }
    
        span {
            font-weight: bold;
        }
    }
}