h3 {
    margin: 20px;
    padding: 20px;
    border: 1px solid gray;
    text-align: center;
}

.table {
    min-width: 80vw;

    tr[mat-row]:hover {
        background: #ebebeb;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    
    .add-button {
        margin: 20px 0;
        font-weight: bold;
        border: none;
        border-radius: 3px;
        box-shadow: 0 0 5px grey;
        background-color: white;
        cursor: pointer;
    }
}

.action-buttons {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
 

.delete-ico {
    color: #e93818;
}

.info-ico {
    color: #1850e9;
}