<div class="new-cat-container">
    <button 
        mat-mini-fab color="basic" 
        class="add-btn"
        (click)="openAddCatDialog()"
    >
        <mat-icon>add</mat-icon>
    </button>
    <div class="new-cat-heading-wrapper">
        <h2>Add your new cat here</h2>
    </div>

    <mat-card class="cat-card">
        <div class="cat-header-wrapper">
            <mat-card-header class="cat-header">
                <mat-card-title>Abyssynian</mat-card-title>
                <mat-card-subtitle>Cat Breed</mat-card-subtitle>
            </mat-card-header>
        </div>
        <mat-card-content class="cat-info-wrapper">
            <p><span>Description:</span> <br> The Abyssinian is easy to care for, and a joy to have in your home. They’re affectionate cats and love both people and other animals.</p>
            <p><span>Temperament:</span> ctive, Energetic, Independent, Intelligent, Gentle</p>
            <p><span>Origin:</span> Egypt</p>
            <p><span>Average life span:</span> 5 - 10</p>
            <p><span>Weight:</span> 5 kgs</p>
        </mat-card-content>
    </mat-card>
</div>
