.add-form-full-width {
    width: 100%;
    margin-top: 8px;
}

.action-butttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    .cancel-btn {
        background-color: #BD794C;
        color: #fafafa;
    }
}